[Unit]
Description=Update timetable

[Service]
User=
Group=
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/wash-timetable-updater/start.sh

[Install]
WantedBy=multi-user.target
