[Unit]
Description=Update timetable

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/wash-timetable-updater/start.sh

[Install]
WantedBy=multi-user.target
